:root {
    --primaryColor: #FFFFFF;
    --primaryColor1: #363738;
    --secondaryColor: #F5F5F5;
    --secondaryColor1: #FEFAF1;
    --BG: #FFFFFF;
    --Text: #FAFAFA;
    --Text1: #7D8184;
    --Text2: #000000;
    --Button: #000000;
    --Secondary2: #DB4444;
    --Button1: #00FF66;
    --Button2: #DB4444;
    --HoverButton: #E07575;
    --HoverButton2: #A0BCE0;
  }

.mainHero {
    padding: 1.5rem 3rem;

    .banner {
        width: 892px;
        height: 320px;
        background: var(--Text2);
        justify-content: space-between;
        overflow: hidden;
        padding: 3rem;
    
        .rightContent {
            flex-direction: column;
            color: var(--Text);
            align-items: flex-start;
            left: 3rem;
    
            .prodIcon {
                gap: 2rem;
                
                small {
                    font-size: 1.1rem;
                    color: var(--Text);
                }
            }
    
            .discount {
                margin: 1rem 0;
    
                h1 {
                    font-size: 2.8rem;
                    font-weight: 700;
                    text-align: left;
                }
            }
    
            .link {
                font-size: 1.2rem;
                gap: .7rem;
            }
        }
    
        .leftContent {
            width: 496px;
            height: 352px;
            padding: 3rem;
        }
        
    }
}


